<div class="container">
  <!-- Tabs -->
    <ul class="nav nav-tabs" id="tabs">
        <li class="tab-pane active">
          <%= link_to 'My account', edit_user_registration_path %>
        </li>
        <li><a href="#Messages" data-toggle="tab">Messages</a></li>
        <li><a href="#MyRentals" data-toggle="tab">My rentals</a></li>
        <li class="tab-pane">
          <%= link_to 'My items', items_path %>
        </li>
    </ul>
    <!-- Tabs -->


</div>
